.card-wrapper {
 padding: 0 10px;
 display: flex;
 overflow-x: hidden;
 scroll-behavior: smooth;
  border: solid red;
  width: 90vw;    
}
  

.card {
  border-radius: 25px;
  margin:30px;
  background-color: #fff;
  display: flex;
  min-width: 900px;
  max-width: 900px;
  height: 170px;
  border-radius: 20px;
}

.slide-container {
  position: relative;
    overflow: hidden;
    padding: 26px;
   background-color: rgb(223, 220, 220); 
   display: flex;
} 



.image-content, .card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-content {
  position: relative;
  border-radius: 25px;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px; 
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.desciription {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.overlay {
  position: absolute;
  border-radius: 25px 25px 0 0 ; 
  left:0;
  top: 0;
  height:50%;
  width: 100%;
  background-color: #4070f4;
}

.arrowleft .arrowright {
  border: none;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}  

.arrowright {
  right: 0;
}